body {
    background: #c4f8ef;
}

*,
::after,
::before {
    box-sizing: border-box;
}

.wrapper {
    width: 800px;
    margin: 0 auto;
}

.slider-container {
    overflow: hidden;
    background: pink;
}

.slider-track {
    display: flex;
    background: yellow;
    transition: 200ms;
}

.slider-item {
    text-align: center;
    font-size: 36px;
    color: #fff;
    min-width: 100px;
    height: 100px;
}

.slider-item:nth-child(3n+1) {
    background-color: orange;
}

.slider-item:nth-child(3n+2) {
    background-color: cyan;
}

.slider-item:nth-child(3n+3) {
    background-color: maroon;
}


.slider-buttons {
    text-align: center;
}

.btn-prev {

}